Repository abenevaut/opensource: changes, and which Codecov flags are due for each by the changed paths.
All: laravel-infrastructure, laravel-ohdear, laravel-one, laravel-sentry-handler, phpunit-slicer

feat(laravel-infrastructure): add phpstan rules
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/tests/Rules/ControllersExtendsBaseControllerRule.php
Due: laravel-infrastructure

feat(vapor-*): add ruby installer download link in readme
  vapor-ci/README.md
  vapor-nginx/README.md
  vapor-roadrunner/README.md
Due: none

fix: vapor-ci/Gemfile & vapor-ci/Gemfile.lock to reduce vulnerabilities
  vapor-ci/Gemfile
  vapor-ci/Gemfile.lock
Due: none

fix: vapor-roadrunner/Gemfile & vapor-roadrunner/Gemfile.lock to reduce vulnerabilities
  vapor-roadrunner/Gemfile
  vapor-roadrunner/Gemfile.lock
Due: none

fix: vapor-nginx/Gemfile & vapor-nginx/Gemfile.lock to reduce vulnerabilities
  vapor-nginx/Gemfile
  vapor-nginx/Gemfile.lock
Due: none

wip
  .idea/phpunit.xml
Due: none

feat(laravel-infrastructure): add middleware to share logs context
  laravel-infrastructure/src/Http/Middleware/IdentifyClientRequestMiddleware.php
  laravel-infrastructure/src/Http/Middleware/IdentifyUserRequestMiddleware.php
  laravel-infrastructure/src/Http/Middleware/ShareLogsContextMiddlewareAbstract.php
  laravel-infrastructure/src/Http/Requests/ApiFormRequestAbstract.php
Due: laravel-infrastructure

wip
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  laravel-infrastructure/composer.json
  laravel-infrastructure/src/Http/Middleware/ShareLogsContextMiddlewareAbstract.php
  laravel-infrastructure/tests/Unit/ShareLogsContextMiddlewareAbstractTest.php
Due: laravel-infrastructure

phpstan
  laravel-infrastructure/src/Http/Middleware/IdentifyClientRequestMiddleware.php
  laravel-infrastructure/src/Http/Middleware/IdentifyUserRequestMiddleware.php
  laravel-infrastructure/src/Http/Middleware/ShareLogsContextMiddlewareAbstract.php
  laravel-infrastructure/src/Http/Requests/ApiFormRequestAbstract.php
Due: laravel-infrastructure

phpstan
  laravel-infrastructure/src/Http/Requests/ApiFormRequestAbstract.php
Due: laravel-infrastructure

phpstan
  laravel-infrastructure/tests/Unit/ShareLogsContextMiddlewareAbstractTest.php
Due: laravel-infrastructure

feat(laravel-infrastructure): add middleware to share logs context (#230)
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  laravel-infrastructure/composer.json
  laravel-infrastructure/src/Http/Middleware/IdentifyClientRequestMiddleware.php
  laravel-infrastructure/src/Http/Middleware/IdentifyUserRequestMiddleware.php
  laravel-infrastructure/src/Http/Middleware/ShareLogsContextMiddlewareAbstract.php
  laravel-infrastructure/src/Http/Requests/ApiFormRequestAbstract.php
  laravel-infrastructure/tests/Unit/ShareLogsContextMiddlewareAbstractTest.php
Due: laravel-infrastructure

feat(laravel-infrastructure): add client identifier
  .idea/php-test-framework.xml
  .idea/phpunit.xml
  laravel-infrastructure/src/Http/Middleware/IdentifyClientRequestMiddleware.php
Due: laravel-infrastructure

feat(vapor-*): update init scripts
  vapor-ci/rootfs/docker-entrypoint-init.d/02-update-php-template-with-env-vars.sh
  vapor-ci/rootfs/etc/service/.gitkeep
  vapor-nginx/rootfs/docker-entrypoint-init.d/02-update-php-template-with-env-vars.sh
  vapor-nginx/rootfs/docker-entrypoint-init.d/03-update-nginx-template-with-env-vars.sh
  vapor-nginx/rootfs/docker-entrypoint-init.d/03-update-php-fpm-template-with-env-vars.sh
  vapor-nginx/rootfs/etc/service/nginx/run
  vapor-nginx/rootfs/etc/service/php/run
  vapor-roadrunner/rootfs/docker-entrypoint-init.d/02-update-php-template-with-env-vars.sh
  vapor-roadrunner/rootfs/etc/service/roadrunner/run
Due: none

update actions
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
Due: none

update actions
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-roadrunner-build.yml
  vapor-ci/Dockerfile
  vapor-nginx/Dockerfile
  vapor-roadrunner/Dockerfile
Due: none

update dockerfiles, update init scripts list
  vapor-ci/Dockerfile
  vapor-nginx/Dockerfile
  vapor-roadrunner/Dockerfile
Due: none

update tests
  vapor-ci/.bundle/config
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

update tests
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

update tests
  vapor-ci/.rubocop.yml
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/.rubocop.yml
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/.rubocop.yml
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

update tests
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

comment arm64 builds/tests
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
Due: none

feat(vapor-*): update init scripts (#242)
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
  vapor-ci/.bundle/config
  vapor-ci/.rubocop.yml
  vapor-ci/Dockerfile
  vapor-ci/rootfs/docker-entrypoint-init.d/02-update-php-template-with-env-vars.sh
  vapor-ci/rootfs/etc/service/.gitkeep
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/.rubocop.yml
  vapor-nginx/Dockerfile
  vapor-nginx/rootfs/docker-entrypoint-init.d/02-update-php-template-with-env-vars.sh
  vapor-nginx/rootfs/docker-entrypoint-init.d/03-update-nginx-template-with-env-vars.sh
  vapor-nginx/rootfs/docker-entrypoint-init.d/03-update-php-fpm-template-with-env-vars.sh
  vapor-nginx/rootfs/etc/service/nginx/run
  vapor-nginx/rootfs/etc/service/php/run
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/.rubocop.yml
  vapor-roadrunner/Dockerfile
  vapor-roadrunner/rootfs/docker-entrypoint-init.d/02-update-php-template-with-env-vars.sh
  vapor-roadrunner/rootfs/etc/service/roadrunner/run
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

comment arm64 builds/tests
  .idea/php-test-framework.xml
  .idea/phpunit.xml
  vapor-ci/rootfs/usr/local/etc/php/php.ini
  vapor-nginx/rootfs/usr/local/etc/php/php.ini
  vapor-roadrunner/rootfs/usr/local/etc/php/php.ini
Due: none

feat(laravel-one): update docs & pages
  laravel-one/.eslintignore
  laravel-one/.eslintrc.cjs
  laravel-one/.nvmrc
  laravel-one/package-lock.json
  laravel-one/package.json
  laravel-one/postcss.config.js
  laravel-one/tailwind.config.js
  laravel-one/theme/404.blade.php
  laravel-one/theme/article.blade.php
  laravel-one/theme/css/app.css
  laravel-one/theme/home.blade.php
  laravel-one/theme/js/App.jsx
  laravel-one/theme/js/Article.jsx
  laravel-one/theme/js/Components/Projects.jsx
  laravel-one/theme/js/Components/content-section-with-testimonial-and-stats.jsx
  laravel-one/theme/js/Components/markdown.jsx
  laravel-one/theme/js/Components/scroll-to-hash.jsx
  laravel-one/theme/js/Home.jsx
  laravel-one/theme/js/Privacy.jsx
  laravel-one/theme/js/Profile.jsx
  laravel-one/theme/js/Providers/WithoutRouterProvider.jsx
  laravel-one/theme/js/Terms.jsx
  laravel-one/theme/js/Writeup.jsx
  laravel-one/theme/layouts/app.blade.php
  laravel-one/theme/privacy.blade.php
  laravel-one/theme/profile.blade.php
  laravel-one/theme/terms.blade.php
  laravel-one/theme/writeup.blade.php
  laravel-one/vite.config.js
  laravel-sqlmap/README.md
  laravel-sqlmap/src/Http/Middleware/ValidateCsrfToken.php
Due: laravel-one

Path conditions:
  laravel-infrastructure: any of: laravel-infrastructure/
  laravel-ohdear: any of: laravel-ohdear/
  laravel-one: any of: laravel-one/
  laravel-sentry-handler: any of: laravel-sentry-handler/
  phpunit-slicer: any of: phpunit-slicer/
