Repository abenevaut/opensource: changes, and which Codecov flags are due for each by the changed paths.
All: laravel-infrastructure, laravel-ohdear, laravel-one, laravel-sentry-handler, phpunit-slicer

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 75%
      laravel-infrastructure:
        target: 0%
        flags:
          - laravel-infrastructure
      laravel-ohdear:
        target: 75%
        flags:
          - laravel-ohdear
      laravel-one:
        target: 75%
        flags:
          - laravel-one
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler
      phpunit-slicer:
        target: 100%
        flags:
          - phpunit-slicer
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler

flags:
  laravel-infrastructure:
    carryforward: true
    paths:
      - laravel-infrastructure/
  laravel-ohdear:
    carryforward: true
    paths:
      - laravel-ohdear/
  laravel-one:
    carryforward: true
    paths:
      - laravel-one/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/
  phpunit-slicer:
    carryforward: true
    paths:
      - phpunit-slicer/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/

# https://docs.codecov.com/docs/pull-request-comments
comment:
  layout: "flags, files"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: no # [yes :: must have a base report to post]
  require_head: no # [yes :: must have a head report to post]

chore(laravel-one): fix publish tag
  .github/workflows/laravel-one-release.yml
Due: none

chore(laravel-one): fix know_host
  .github/workflows/docs-release.yml
  .github/workflows/laravel-infrastructure-release.yml
  .github/workflows/laravel-infrastructure-test.yml
  .github/workflows/laravel-one-release.yml
  .github/workflows/laravel-one-test.yml
  .github/workflows/laravel-sentry-handler-release.yml
  .github/workflows/laravel-sentry-handler-test.yml
  .github/workflows/laravel-session-release.yml
  .github/workflows/phpunit-slicer-release.yml
  .github/workflows/phpunit-slicer-test.yml
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
  github_known_hosts
  laravel-infrastructure/.github/workflows/docs-release.yml
  laravel-one/.github/workflows/laravel-one-ghpages.yml
  laravel-sentry-handler/.github/workflows/docs-release.yml
  laravel-session/.github/workflows/docs-release.yml
  phpunit-slicer/.github/workflows/docs-release.yml
Due: laravel-infrastructure, laravel-one, laravel-sentry-handler, phpunit-slicer

chore(laravel-one): fix dependencies between jobs pipeline
  .github/workflows/laravel-one-release.yml
  github_known_hosts
Due: none

chore(phpunit-slicer): composer update
  .github/workflows/phpunit-slicer-release.yml
  .github/workflows/phpunit-slicer-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  phpunit-slicer/composer.json
  phpunit-slicer/composer.lock
  phpunit-slicer/config/app.php
  phpunit-slicer/config/arkitect.php
  phpunit-slicer/phpunit.xml.dist
  phpunit-slicer/tests/Architecture/CommandsNaming.php
Due: phpunit-slicer

update pipeline matrix
  .github/workflows/phpunit-slicer-release.yml
  .github/workflows/phpunit-slicer-test.yml
Due: none

fix codecov path
  .github/workflows/phpunit-slicer-test.yml
Due: none

chore(phpunit-slicer): composer update (#168)
  .github/workflows/phpunit-slicer-release.yml
  .github/workflows/phpunit-slicer-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  phpunit-slicer/composer.json
  phpunit-slicer/composer.lock
  phpunit-slicer/config/app.php
  phpunit-slicer/config/arkitect.php
  phpunit-slicer/phpunit.xml.dist
  phpunit-slicer/tests/Architecture/CommandsNaming.php
Due: phpunit-slicer

chore(laravel-infrastructure): composer update
  .github/workflows/laravel-infrastructure-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
Due: none

new ticket to create rule that isAbstract OR isInterface OR isTrait
  laravel-infrastructure/tests/Architecture/CommandsContractsAreAbstract.php
Due: laravel-infrastructure

wip
  .github/workflows/docs-release.yml
  .github/workflows/laravel-infrastructure-release.yml
  .github/workflows/laravel-infrastructure-test.yml
  .github/workflows/laravel-one-release.yml
  .github/workflows/laravel-sentry-handler-release.yml
  .github/workflows/phpunit-slicer-release.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
Due: none

chore(laravel-infrastructure): composer update (#169)
  .github/workflows/docs-release.yml
  .github/workflows/laravel-infrastructure-release.yml
  .github/workflows/laravel-infrastructure-test.yml
  .github/workflows/laravel-one-release.yml
  .github/workflows/laravel-sentry-handler-release.yml
  .github/workflows/phpunit-slicer-release.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  laravel-infrastructure/tests/Architecture/CommandsContractsAreAbstract.php
Due: laravel-infrastructure

chore(laravel-sentry-handler): composer update
  .github/workflows/laravel-infrastructure-test.yml
  .github/workflows/laravel-sentry-handler-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  laravel-infrastructure/composer.json
  laravel-sentry-handler/arkitect.php
  laravel-sentry-handler/composer.json
  laravel-sentry-handler/tests/Architecture/CommandsContractsAreAbstract.php
  laravel-sentry-handler/tests/Architecture/CommandsContractsAreUniform.php
  laravel-sentry-handler/tests/Architecture/ControllersContractsAreAbstract.php
  laravel-sentry-handler/tests/Architecture/ControllersContractsAreUniform.php
Due: laravel-infrastructure, laravel-sentry-handler

wip
  .github/workflows/laravel-sentry-handler-test.yml
Due: none

publish PR comment
  .github/workflows/laravel-sentry-handler-test.yml
Due: none

wip
  .github/workflows/laravel-one-release.yml
  .github/workflows/laravel-sentry-handler-test.yml
  .github/workflows/phpunit-slicer-release.yml
Due: none

chore(laravel-sentry-handler): composer update (#171)
  .github/workflows/laravel-infrastructure-test.yml
  .github/workflows/laravel-one-release.yml
  .github/workflows/laravel-sentry-handler-test.yml
  .github/workflows/phpunit-slicer-release.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  laravel-infrastructure/composer.json
  laravel-sentry-handler/arkitect.php
  laravel-sentry-handler/composer.json
  laravel-sentry-handler/tests/Architecture/CommandsContractsAreAbstract.php
  laravel-sentry-handler/tests/Architecture/CommandsContractsAreUniform.php
  laravel-sentry-handler/tests/Architecture/ControllersContractsAreAbstract.php
  laravel-sentry-handler/tests/Architecture/ControllersContractsAreUniform.php
Due: laravel-infrastructure, laravel-sentry-handler

fix: comment anticipated 84 revision that block CI
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-test.yml
  .idea/opensource.iml
  .idea/phpunit.xml
  vapor-ci/README.md
  vapor-nginx/README.md
  vapor-roadrunner/README.md
Due: none

feat: add arm64 docker build
  .env.example
  .github/workflows/vapor-roadrunner-test.yml
  .idea/opensource.iml
  docker-compose.yml
  vapor-ci/Dockerfile
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/Dockerfile
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/Dockerfile
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

feat: add arm64 docker build
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
Due: none

feat: add arm64 docker build
  vapor-ci/Gemfile.lock
  vapor-nginx/Gemfile.lock
  vapor-roadrunner/Gemfile.lock
Due: none

feat: add arm64 docker build
  vapor-ci/.bundle/config
  vapor-nginx/.bundle/config
  vapor-roadrunner/.bundle/config
Due: none

feat: add arm64 docker build
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-test.yml
Due: none
