Repository abenevaut/opensource: changes, and which Codecov flags are due for each by the changed paths.
All: laravel-infrastructure, laravel-ohdear, laravel-one, laravel-sentry-handler, phpunit-slicer

feat: add arm64 docker build
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-test.yml
Due: none

feat: add arm64 docker build
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

feat: add arm64 docker build
  vapor-ci/Dockerfile
  vapor-nginx/Dockerfile
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/Dockerfile
Due: none

feat: add arm64 docker build
  .env.example
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/Dockerfile
Due: none

feat: add arm64 docker build
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-test.yml
  vapor-roadrunner/Dockerfile
Due: none

feat: add arm64 docker build
  .env.example
Due: none

feat: add arm64 docker build
  vapor-roadrunner/Dockerfile
Due: none

feat: add arm64 docker build
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-test.yml
  vapor-ci/Dockerfile
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/Dockerfile
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/Dockerfile
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

feat: add arm64 docker build
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-test.yml
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

feat: add arm64 docker build
  .github/workflows/vapor-roadrunner-publish.yml
Due: none

feat: add arm64 docker build (#179)
  .env.example
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
  .idea/opensource.iml
  docker-compose.yml
  vapor-ci/.bundle/config
  vapor-ci/Dockerfile
  vapor-ci/Gemfile.lock
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/.bundle/config
  vapor-nginx/Dockerfile
  vapor-nginx/Gemfile.lock
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/.bundle/config
  vapor-roadrunner/Dockerfile
  vapor-roadrunner/Gemfile.lock
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

feat: add arm64 docker build
  docker-compose.yml
Due: none

feat: add arm64 docker build
  .env.example
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
  docker-compose.yml
Due: none

Revert "feat: add arm64 docker build (#179)"
  .env.example
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
  .idea/opensource.iml
  docker-compose.yml
  vapor-ci/.bundle/config
  vapor-ci/Dockerfile
  vapor-ci/Gemfile.lock
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/.bundle/config
  vapor-nginx/Dockerfile
  vapor-nginx/Gemfile.lock
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/.bundle/config
  vapor-roadrunner/Dockerfile
  vapor-roadrunner/Gemfile.lock
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

Revert "Revert "feat: add arm64 docker build (#179)""
  .env.example
  .idea/opensource.iml
  vapor-ci/.bundle/config
  vapor-ci/Dockerfile
  vapor-ci/Gemfile.lock
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/.bundle/config
  vapor-nginx/Dockerfile
  vapor-nginx/Gemfile.lock
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/.bundle/config
  vapor-roadrunner/Dockerfile
  vapor-roadrunner/Gemfile.lock
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

chore: update composer hash
  .env.example
Due: none

feat(laravel-infrastructure,laravel-one): update composer
  .idea/opensource.iml
  .idea/phpunit.xml
  laravel-infrastructure/composer.json
Due: laravel-infrastructure

feat(laravel-infrastructure,laravel-one): update composer
  laravel-infrastructure/composer.json
Due: laravel-infrastructure

feat(laravel-infrastructure,laravel-one): update composer
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  laravel-infrastructure/phpunit.xml
  laravel-infrastructure/src/Console/ValidateCommandArgumentsInterface.php
  laravel-infrastructure/src/Console/ValidateCommandArgumentsTrait.php
  laravel-infrastructure/tests/Unit/ExampleTest.php
  laravel-infrastructure/tests/Unit/ProcessPoolCommandAbstractTest.php
Due: laravel-infrastructure

feat(laravel-infrastructure): update composer (#184)
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  laravel-infrastructure/composer.json
  laravel-infrastructure/phpunit.xml
  laravel-infrastructure/src/Console/ValidateCommandArgumentsInterface.php
  laravel-infrastructure/src/Console/ValidateCommandArgumentsTrait.php
  laravel-infrastructure/tests/Unit/ExampleTest.php
  laravel-infrastructure/tests/Unit/ProcessPoolCommandAbstractTest.php
Due: laravel-infrastructure

feat(laravel-one): update composer
  .idea/opensource.iml
  .idea/php.xml
  laravel-one/composer.json
  laravel-one/composer.lock
Due: laravel-one

composer update for php8.1
  laravel-one/composer.lock
Due: laravel-one

feat(laravel-one): update composer (#185)
  .idea/opensource.iml
  .idea/php.xml
  laravel-one/composer.json
  laravel-one/composer.lock
Due: laravel-one

feat(phpunit-slicer): update composer
  .idea/opensource.iml
  phpunit-slicer/composer.json
  phpunit-slicer/composer.lock
Due: phpunit-slicer

feat(phpunit-slicer): update composer (#186)
  .idea/opensource.iml
  phpunit-slicer/composer.json
  phpunit-slicer/composer.lock
Due: phpunit-slicer

fix: build phar with correct dependencies
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  laravel-one/app/Commands/GenerateCommand.php
  laravel-one/app/Commands/GeneratePageCommand.php
  laravel-one/composer.json
  laravel-one/composer.lock
  laravel-one/config/app.php
Due: laravel-one

fix: build phar with correct dependencies
  laravel-one/app/Commands/GeneratePageCommand.php
  laravel-one/app/Domain/Pages/Pages/Page.php
  laravel-one/app/Pipes/ListPagesPipe.php
  laravel-one/app/Processes/GeneratePageProcess.php
  laravel-one/config/view.php
Due: laravel-one

fix: build phar with correct dependencies
  laravel-one/app/Domain/Pages/Pages/Page.php
  laravel-one/app/Pipes/ListPagesPipe.php
  laravel-one/app/Pipes/WritePagePipe.php
Due: laravel-one

fix: build phar with correct dependencies
  laravel-one/composer.json
Due: laravel-one

fix tests
  laravel-one/tests/Feature/GenerateCommandTest.php
Due: laravel-one

feat(laravel-one): update path inside phar (#187)
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  laravel-one/app/Commands/GenerateCommand.php
  laravel-one/app/Commands/GeneratePageCommand.php
  laravel-one/app/Domain/Pages/Pages/Page.php
  laravel-one/app/Pipes/ListPagesPipe.php
  laravel-one/app/Pipes/WritePagePipe.php
  laravel-one/app/Processes/GeneratePageProcess.php
  laravel-one/composer.json
  laravel-one/composer.lock
  laravel-one/config/app.php
  laravel-one/config/view.php
  laravel-one/tests/Feature/GenerateCommandTest.php
Due: laravel-one

feat(laravel-one): publish phar as release artifact
  .idea/opensource.iml
  .idea/phpspec.xml
  .idea/webResources.xml
  laravel-one/README.md
  laravel-one/app/Pipes/FindContentDirectoryPipe.php
  laravel-one/app/Pipes/FindOrCreateCacheDirectoryPipe.php
  laravel-one/app/Pipes/FindOrCreateDistributionDirectoryPipe.php
  laravel-one/app/Pipes/FindThemeDirectoryPipe.php
  laravel-one/app/Pipes/ListPagesPipe.php
  laravel-one/app/Pipes/PipeAbstract.php
  laravel-one/app/Pipes/WritePagePipe.php
  laravel-one/config/logging.php
  laravel-one/docs/Home.md
  laravel-one/lang/en/validation.php
Due: laravel-one

add content translations
  laravel-one/app/Pipes/FindContentDirectoryPipe.php
  laravel-one/app/Pipes/WritePagePipe.php
  laravel-one/config/app.php
  laravel-one/content/index.yml
  laravel-one/content/lang/en/test.php
  laravel-one/lang/en/validation.php
  laravel-one/theme/404.blade.php
  laravel-one/theme/home.blade.php
  laravel-one/theme/layouts/app.blade.php
Due: laravel-one

add content translations
  laravel-one/content/index.yml
  laravel-one/docs/Home.md
Due: laravel-one

Path conditions:
  laravel-infrastructure: any of: laravel-infrastructure/
  laravel-ohdear: any of: laravel-ohdear/
  laravel-one: any of: laravel-one/
  laravel-sentry-handler: any of: laravel-sentry-handler/
  phpunit-slicer: any of: phpunit-slicer/
