Repository abenevaut/opensource: changes, and which Codecov flags are due for each by the changed paths.
All: laravel-infrastructure, laravel-ohdear, laravel-one, laravel-sentry-handler, phpunit-slicer

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 75%
      laravel-infrastructure:
        target: 0%
        flags:
          - laravel-infrastructure
      laravel-ohdear:
        target: 75%
        flags:
          - laravel-ohdear
      laravel-one:
        target: 75%
        flags:
          - laravel-one
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler
      phpunit-slicer:
        target: 100%
        flags:
          - phpunit-slicer
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler

flags:
  laravel-infrastructure:
    carryforward: true
    paths:
      - laravel-infrastructure/
  laravel-ohdear:
    carryforward: true
    paths:
      - laravel-ohdear/
  laravel-one:
    carryforward: true
    paths:
      - laravel-one/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/
  phpunit-slicer:
    carryforward: true
    paths:
      - phpunit-slicer/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/

# https://docs.codecov.com/docs/pull-request-comments
comment:
  layout: "flags, files"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: no # [yes :: must have a base report to post]
  require_head: no # [yes :: must have a head report to post]

add release workflow
  laravel-one/.github/workflows/laravel-one-release.yml
  laravel-one/docs/Home.md
Due: laravel-one

remove tmp lang directory
  laravel-one/content/lang/en/test.php
Due: laravel-one

feat(laravel-one): publish phar as release artifact (#188)
  .idea/opensource.iml
  .idea/phpspec.xml
  .idea/webResources.xml
  laravel-one/.github/workflows/laravel-one-release.yml
  laravel-one/README.md
  laravel-one/app/Pipes/FindContentDirectoryPipe.php
  laravel-one/app/Pipes/FindOrCreateCacheDirectoryPipe.php
  laravel-one/app/Pipes/FindOrCreateDistributionDirectoryPipe.php
  laravel-one/app/Pipes/FindThemeDirectoryPipe.php
  laravel-one/app/Pipes/ListPagesPipe.php
  laravel-one/app/Pipes/PipeAbstract.php
  laravel-one/app/Pipes/WritePagePipe.php
  laravel-one/config/app.php
  laravel-one/config/logging.php
  laravel-one/docs/Home.md
  laravel-one/theme/404.blade.php
  laravel-one/theme/home.blade.php
  laravel-one/theme/layouts/app.blade.php
Due: laravel-one

wip build arm & amd
  .env.example
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-test.yml
  .idea/opensource.iml
  .idea/phpunit.xml
  docker-compose.yml
Due: none

update tests
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

update tests
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

update builds
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-roadrunner-build.yml
Due: none

update release
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
  .idea/phpunit.xml
Due: none

update release
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-roadrunner-publish.yml
Due: none

feat: add arm64 docker build (#180)
  .env.example
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
  .idea/opensource.iml
  .idea/phpunit.xml
  docker-compose.yml
  vapor-ci/.bundle/config
  vapor-ci/Dockerfile
  vapor-ci/Gemfile.lock
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/.bundle/config
  vapor-nginx/Dockerfile
  vapor-nginx/Gemfile.lock
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/.bundle/config
  vapor-roadrunner/Dockerfile
  vapor-roadrunner/Gemfile.lock
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

fix(vapor-nginx,vapor-roadrunner): update env. vars to tag
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-roadrunner-publish.yml
Due: none

fix(vapor-roadrunner): update "latest" tag
  .github/workflows/vapor-roadrunner-publish.yml
Due: none

feat(vapor-*): try to build arm64 image with variant v8
  .env.example
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .idea/opensource.iml
  .idea/phpunit.xml
Due: none

feat(vapor-*): try to build arm64 image with variant v8
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
Due: none

feat(vapor-*): try to build arm64 image with variant v8
  vapor-roadrunner/Dockerfile
Due: none

chore(github): add github actions dependabot stuff
  .github/dependabot.yml
Due: none

chore: add brewfile
  .idea/phpunit.xml
  Brewfile
  Brewfile.lock.json
Due: none

feat(laravel-infrastructure): delete php arkitect
  .github/workflows/laravel-infrastructure-test.yml
  .idea/opensource.iml
  laravel-infrastructure/arkitect.php
  laravel-infrastructure/composer.json
  laravel-infrastructure/config/arkitect.php
  laravel-infrastructure/src/App/Providers/ArkitectServiceProvider.php
  laravel-infrastructure/src/Architecture/AuthControllersExtendInfrastructureControllerAbstract.php
  laravel-infrastructure/src/Architecture/ControllersContractsDependOnRestrictedNamespaces.php
  laravel-infrastructure/src/Architecture/WebControllersExtendInfrastructureControllerAbstract.php
  laravel-infrastructure/tests/Architecture/CommandsContractsAreAbstract.php
  laravel-infrastructure/tests/Architecture/CommandsContractsAreUniform.php
  laravel-infrastructure/tests/Architecture/ControllersContractsAreAbstract.php
  laravel-infrastructure/tests/Architecture/ControllersContractsAreUniform.php
Due: laravel-infrastructure

feat(laravel-infrastructure): delete php arkitect (#196)
  .github/workflows/laravel-infrastructure-test.yml
  .idea/opensource.iml
  laravel-infrastructure/arkitect.php
  laravel-infrastructure/composer.json
  laravel-infrastructure/config/arkitect.php
  laravel-infrastructure/src/App/Providers/ArkitectServiceProvider.php
  laravel-infrastructure/src/Architecture/AuthControllersExtendInfrastructureControllerAbstract.php
  laravel-infrastructure/src/Architecture/ControllersContractsDependOnRestrictedNamespaces.php
  laravel-infrastructure/src/Architecture/WebControllersExtendInfrastructureControllerAbstract.php
  laravel-infrastructure/tests/Architecture/CommandsContractsAreAbstract.php
  laravel-infrastructure/tests/Architecture/CommandsContractsAreUniform.php
  laravel-infrastructure/tests/Architecture/ControllersContractsAreAbstract.php
  laravel-infrastructure/tests/Architecture/ControllersContractsAreUniform.php
Due: laravel-infrastructure

fix(vapor-ci,vapor-nginx,vapor-roadrunner): update arm64
  .idea/phpunit.xml
  vapor-ci/Dockerfile
  vapor-nginx/Dockerfile
  vapor-nginx/README.md
  vapor-roadrunner/Dockerfile
  vapor-roadrunner/README.md
  vapor-roadrunner/rootfs/etc/service/roadrunner/run
Due: none

fix(vapor-ci,vapor-nginx,vapor-roadrunner): update arm64
  vapor-roadrunner/Dockerfile
Due: none

fix(vapor-ci,vapor-nginx,vapor-roadrunner): update arm64
  vapor-ci/rootfs/bin/docker-entrypoint.sh
  vapor-nginx/rootfs/bin/docker-entrypoint.sh
  vapor-roadrunner/rootfs/bin/docker-entrypoint.sh
Due: none

feat(vapor-ci,vapor-nginx,vapor-roadrunner): update arm64
  .env.example
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

feat(vapor-ci,vapor-nginx,vapor-roadrunner): update arm64 (#197)
  .env.example
  .github/workflows/vapor-ci-build.yml
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-build.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-build.yml
  .github/workflows/vapor-roadrunner-publish.yml
  vapor-ci/spec/dockerfile_spec.rb
  vapor-nginx/spec/dockerfile_spec.rb
  vapor-roadrunner/spec/dockerfile_spec.rb
Due: none

fix(vapor-ci,vapor-nginx,vapor-roadrunner): update arm64
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-roadrunner-publish.yml
  .github/workflows/vapor-roadrunner-test.yml
  docker-compose.yml
Due: none

wip
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-nginx-publish.yml
  .github/workflows/vapor-roadrunner-publish.yml
Due: none

wip
  .github/workflows/vapor-ci-publish.yml
  .github/workflows/vapor-nginx-publish.yml
Due: none

fix tests
  .github/workflows/phpunit-slicer-test.yml
  .idea/phpunit.xml
Due: none

feat(phpunit-slicer): update laravel-infrastructure
  .github/workflows/phpunit-slicer-test.yml
  .idea/opensource.iml
  phpunit-slicer/composer.json
  phpunit-slicer/composer.lock
  phpunit-slicer/config/app.php
  phpunit-slicer/config/arkitect.php
  phpunit-slicer/tests/Architecture/CommandsNaming.php
Due: phpunit-slicer

update for php8.1
  phpunit-slicer/composer.lock
Due: phpunit-slicer

feat(phpunit-slicer): update laravel-infrastructure (#205)
  .github/workflows/phpunit-slicer-test.yml
  .idea/opensource.iml
  phpunit-slicer/composer.json
  phpunit-slicer/composer.lock
  phpunit-slicer/config/app.php
  phpunit-slicer/config/arkitect.php
  phpunit-slicer/tests/Architecture/CommandsNaming.php
Due: phpunit-slicer

feat(laravel-sentry-handler): update sentry/sentry-laravel
  .github/workflows/laravel-sentry-handler-test.yml
  .idea/opensource.iml
  .idea/phpunit.xml
  laravel-sentry-handler/arkitect.php
  laravel-sentry-handler/composer.json
  laravel-sentry-handler/tests/Architecture/CommandsContractsAreAbstract.php
  laravel-sentry-handler/tests/Architecture/CommandsContractsAreUniform.php
  laravel-sentry-handler/tests/Architecture/ControllersContractsAreAbstract.php
  laravel-sentry-handler/tests/Architecture/ControllersContractsAreUniform.php
Due: laravel-sentry-handler

wip
  .github/workflows/vapor-ci-test.yml
  .github/workflows/vapor-nginx-test.yml
  .github/workflows/vapor-roadrunner-test.yml
  .idea/opensource.iml
  .idea/php.xml
Due: none

chore(laravel-sentry-handler): composer update (#206)
  .github/workflows/laravel-sentry-handler-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  laravel-sentry-handler/arkitect.php
  laravel-sentry-handler/composer.json
  laravel-sentry-handler/tests/Architecture/CommandsContractsAreAbstract.php
  laravel-sentry-handler/tests/Architecture/CommandsContractsAreUniform.php
  laravel-sentry-handler/tests/Architecture/ControllersContractsAreAbstract.php
  laravel-sentry-handler/tests/Architecture/ControllersContractsAreUniform.php
  vapor-ci/README.md
  vapor-nginx/README.md
  vapor-roadrunner/README.md
Due: laravel-sentry-handler

fix(laravel-sentry-handler): fix source tag for release pipeline
  .github/workflows/laravel-sentry-handler-release.yml
Due: none

feat(laravel-infrastructure): add phpstan
  .github/workflows/laravel-infrastructure-test.yml
  .idea/codeception.xml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  laravel-infrastructure/composer.json
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/src/App/Events/EventInterface.php
  laravel-infrastructure/src/App/Listeners/ListenerAbstract.php
  laravel-infrastructure/src/Console/ProcessPoolCommandAbstract.php
Due: laravel-infrastructure

feat(laravel-infrastructure): add phpstan (#207)
  .github/workflows/laravel-infrastructure-test.yml
  .idea/codeception.xml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
  laravel-infrastructure/composer.json
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/src/App/Events/EventInterface.php
  laravel-infrastructure/src/App/Listeners/ListenerAbstract.php
  laravel-infrastructure/src/Console/ProcessPoolCommandAbstract.php
Due: laravel-infrastructure

feat(laravel-infrastructure): add phpstan rules
  .idea/php.xml
  .idea/phpspec.xml
  laravel-infrastructure/composer.json
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/tests/Rules/ControllersExtendsBaseControllerRule.php
Due: laravel-infrastructure
