Repository abenevaut/opensource: changes, and which Codecov flags are due for each by the changed paths.
All: laravel-infrastructure, laravel-ohdear, laravel-one, laravel-sentry-handler, phpunit-slicer

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 75%
      laravel-infrastructure:
        target: 0%
        flags:
          - laravel-infrastructure
      laravel-ohdear:
        target: 75%
        flags:
          - laravel-ohdear
      laravel-one:
        target: 75%
        flags:
          - laravel-one
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler
      phpunit-slicer:
        target: 100%
        flags:
          - phpunit-slicer
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler

flags:
  laravel-infrastructure:
    carryforward: true
    paths:
      - laravel-infrastructure/
  laravel-ohdear:
    carryforward: true
    paths:
      - laravel-ohdear/
  laravel-one:
    carryforward: true
    paths:
      - laravel-one/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/
  phpunit-slicer:
    carryforward: true
    paths:
      - phpunit-slicer/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/

# https://docs.codecov.com/docs/pull-request-comments
comment:
  layout: "flags, files"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: no # [yes :: must have a base report to post]
  require_head: no # [yes :: must have a head report to post]

feat(laravel-one): update docs & pages
  .github/workflows/laravel-one-release.yml
  .github/workflows/phpunit-slicer-release.yml
  .idea/phpunit.xml
  laravel-one/.github/workflows/docs-release.yml
  laravel-one/content/github-pages.yml
  laravel-one/content/index.yml
  laravel-one/package-lock.json
  laravel-one/package.json
  laravel-one/theme/js/App.jsx
  product-workflow/README.md
Due: laravel-one

fix tests
  .idea/opensource.iml
  .idea/php.xml
  laravel-one/README.md
  laravel-one/composer.lock
  laravel-one/config/app.php
  laravel-one/tests/Feature/GenerateCommandTest.php
Due: laravel-one

fix tests
  .github/workflows/laravel-one-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpspec.xml
  .idea/phpunit.xml
Due: none

fix tests
  .idea/opensource.iml
  .idea/php.xml
  laravel-one/README.md
  laravel-one/composer.lock
Due: laravel-one

fix(laravel-one,phpunit-slicer): add `include-hidden-files` in pipelines using `actions/upload-artifact` to upload entire project
  .github/workflows/laravel-one-release.yml
Due: none

fix(laravel-one,phpunit-slicer): add `include-hidden-files` in pipelines using `actions/upload-artifact` to upload entire project
  .github/workflows/phpunit-slicer-release.yml
Due: none

fix(laravel-one,phpunit-slicer): update `JamesIves/github-pages-deploy-action@v4` & `actions/cache` in pipelines
  .github/workflows/laravel-one-release.yml
  .github/workflows/laravel-one-test.yml
  .github/workflows/phpunit-slicer-release.yml
  laravel-one/.github/workflows/laravel-one-ghpages.yml
  laravel-one/content/github-pages.yml
Due: laravel-one

fix(laravel-one): update release pipelines
  laravel-one/.github/workflows/docs-release.yml
  laravel-one/.github/workflows/laravel-one-ghpages.yml
  laravel-one/.github/workflows/laravel-one-release.yml
Due: laravel-one

fix(laravel-one): update release pipelines
  laravel-one/.github/workflows/laravel-one-ghpages.yml
  laravel-one/.github/workflows/laravel-one-release.yml
Due: laravel-one

fix(laravel-one): update release pipelines
  .github/workflows/laravel-one-release.yml
Due: none

fix(laravel-one): update release pipelines
  laravel-one/.github/workflows/laravel-one-ghpages.yml
Due: laravel-one

fix(laravel-one): update release pipelines
  laravel-one/.github/workflows/laravel-one-release.yml
Due: laravel-one

fix(laravel-one): update release pipelines
  .github/workflows/laravel-one-release-candidate.yml
  .idea/phpunit.xml
  laravel-one/README.md
  laravel-one/docs/Build.md
Due: laravel-one

fix(laravel-one): update release pipelines
  .github/workflows/laravel-one-release-candidate.yml
Due: none

fix(laravel-one): update release pipelines
  laravel-one/docs/Build.md
  laravel-one/docs/Home.md
Due: laravel-one

fix(laravel-one): update release pipelines
  .github/workflows/laravel-one-release-candidate.yml
  .github/workflows/laravel-one-release.yml
Due: none

fix(laravel-one): update release pipelines
  .idea/phpunit.xml
  laravel-one/theme/js/App.jsx
Due: laravel-one

feat(laravel-one): update dependencies
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  laravel-one/composer.lock
Due: laravel-one

feat(laravel-one): update dependencies (#255)
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  laravel-one/composer.lock
Due: laravel-one

feat(laravel-one): update github pages & docs
  laravel-one/content/github-pages.yml
  laravel-one/content/index.yml
Due: laravel-one

feat(laravel-one): update github pages & docs
  laravel-one/content/create-your-content.yml
  laravel-one/content/github-pages.yml
  laravel-one/content/index.yml
  laravel-one/docs/Contribute.md
  laravel-one/docs/Home.md
Due: laravel-one

update tests
  laravel-one/tests/Feature/GenerateCommandTest.php
Due: laravel-one

feat(laravel-one): update github pages & docs (#256)
  laravel-one/content/create-your-content.yml
  laravel-one/content/github-pages.yml
  laravel-one/content/index.yml
  laravel-one/docs/Contribute.md
  laravel-one/docs/Home.md
  laravel-one/tests/Feature/GenerateCommandTest.php
Due: laravel-one

fix(laravel-one): update navigation
  laravel-one/content/generate-github-pages.yml
  laravel-one/theme/js/App.jsx
Due: laravel-one

fix(laravel-one): update navigation
  laravel-one/content/create-your-content.yml
  laravel-one/content/generate-github-pages.yml
  laravel-one/content/index.yml
  laravel-one/theme/js/App.jsx
  laravel-one/theme/js/Privacy.jsx
  laravel-one/theme/js/Terms.jsx
Due: laravel-one

fix(laravel-one): update navigation (#258)
  laravel-one/content/create-your-content.yml
  laravel-one/content/generate-github-pages.yml
  laravel-one/content/index.yml
  laravel-one/theme/js/App.jsx
  laravel-one/theme/js/Privacy.jsx
  laravel-one/theme/js/Terms.jsx
Due: laravel-one

fix(laravel-one): rollback privacy & terms pages
  laravel-one/theme/js/Privacy.jsx
  laravel-one/theme/js/Terms.jsx
Due: laravel-one

feat(laravel-one): add cotent translation
  laravel-one/app/Commands/GenerateCommand.php
Due: laravel-one

feat(docs,phpunit-slicer): update dependencies & docs
  .eslintrc.json
  .idea/php.xml
  docs/.obsidian/app.json
  docs/.obsidian/core-plugins-migration.json
  docs/.obsidian/core-plugins.json
  docs/Home.md
  docs/ThirdServices/Codecov.md
  docs/ThirdServices/Dependabot.md
  docs/docs.md
  docs/laravel-infrastructure.md
  docs/laravel-one.md
  docs/laravel-sentry-handler.md
  docs/laravel-session.md
  docs/phpunit-slicer.md
  docs/vapor-roadrunner.md
  phpunit-slicer/composer.lock
Due: phpunit-slicer

update pipeline
  .github/workflows/laravel-one-release.yml
  .github/workflows/laravel-one-test.yml
  .github/workflows/phpunit-slicer-release-candidate.yml
  .github/workflows/phpunit-slicer-release.yml
  .idea/opensource.iml
  laravel-one/composer.json
  laravel-one/docs/Home.md
  phpunit-slicer/README.md
  phpunit-slicer/composer.json
  phpunit-slicer/docs/Contribute.md
  phpunit-slicer/docs/Home.md
Due: laravel-one, phpunit-slicer

update pipeline
  laravel-one/.github/workflows/laravel-one-release.yml
  phpunit-slicer/.github/workflows/docs-release.yml
Due: laravel-one, phpunit-slicer
