Repository abenevaut/opensource: changes, and which Codecov flags are due for each by the changed paths.
All: laravel-infrastructure, laravel-ohdear, laravel-one, laravel-sentry-handler, phpunit-slicer

feat(vapor-ci): add tests (#278)
  vapor-ci/spec/dockerfile_spec.rb
Due: none

wip
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  laravel-infrastructure/composer.json
  laravel-infrastructure/docker-compose.yml
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/tests/Rules/CodeDoesNotContainDumpRule.php
  laravel-infrastructure/tests/Rules/ControllersExtendBaseControllerRule.php
Due: laravel-infrastructure

wip
  .github/workflows/laravel-infrastructure-test.yml
  laravel-infrastructure/docker-compose.yml
Due: laravel-infrastructure

wip
  .github/workflows/laravel-infrastructure-test.yml
  laravel-infrastructure/.gitignore
  laravel-infrastructure/docker-compose.yml
Due: laravel-infrastructure

wip
  .github/workflows/laravel-infrastructure-test.yml
Due: none

wip
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/src/Http/Middleware/IdentifyClientRequestMiddleware.php
  laravel-infrastructure/src/Http/Middleware/IdentifyUserRequestMiddleware.php
Due: laravel-infrastructure

wip
  .github/workflows/laravel-infrastructure-test.yml
  .idea/phpunit.xml
Due: none

wip
  .github/workflows/laravel-infrastructure-test.yml
  .idea/opensource.iml
  .idea/php.xml
  laravel-infrastructure/tests/Unit/ShareLogsContextMiddlewareAbstractTest.php
Due: laravel-infrastructure

wip
  .github/workflows/laravel-one-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  laravel-one/Dockerfile
  laravel-one/composer.json
  laravel-one/composer.lock
  laravel-one/config/arkitect.php
  laravel-one/docker-compose.yml
  laravel-one/phpstan.neon
  laravel-one/tests/Architecture/CommandsNaming.php
  laravel-one/tests/Architecture/PipesNaming.php
  laravel-one/tests/Architecture/ProcessNaming.php
  laravel-one/xdebug-errors.log
Due: laravel-one

wip
  .github/workflows/laravel-one-test.yml
Due: none

wip
  .github/workflows/laravel-one-test.yml
  laravel-one/.gitignore
  laravel-one/xdebug-errors.log
Due: laravel-one

wip
  vapor-ci/Dockerfile
Due: none

wip
  .github/workflows/laravel-one-test.yml
  vapor-ci/Dockerfile
  vapor-default/Dockerfile
  vapor-nginx/Dockerfile
Due: none

wip
  vapor-default/spec/dockerfile_spec.rb
Due: none

feat(laravel-one): update pipeline image (vapor-ci) (#280)
  .github/workflows/laravel-one-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  laravel-one/.gitignore
  laravel-one/Dockerfile
  laravel-one/composer.json
  laravel-one/composer.lock
  laravel-one/config/arkitect.php
  laravel-one/docker-compose.yml
  laravel-one/phpstan.neon
  laravel-one/tests/Architecture/CommandsNaming.php
  laravel-one/tests/Architecture/PipesNaming.php
  laravel-one/tests/Architecture/ProcessNaming.php
  vapor-ci/Dockerfile
  vapor-default/Dockerfile
  vapor-default/spec/dockerfile_spec.rb
  vapor-nginx/Dockerfile
Due: laravel-one

wip
  .github/workflows/laravel-infrastructure-test.yml
  .github/workflows/laravel-one-test.yml
  .idea/opensource.iml
  laravel-infrastructure/phpstan.neon
Due: laravel-infrastructure

feat(laravel-infrastructure): add phpstan (#279)
  .github/workflows/laravel-infrastructure-test.yml
  .github/workflows/laravel-one-test.yml
  .idea/opensource.iml
  laravel-infrastructure/.gitignore
  laravel-infrastructure/composer.json
  laravel-infrastructure/docker-compose.yml
  laravel-infrastructure/docs/Contribute.md
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/src/Http/Middleware/IdentifyClientRequestMiddleware.php
  laravel-infrastructure/src/Http/Middleware/IdentifyUserRequestMiddleware.php
  laravel-infrastructure/tests/Rules/CodeDoesNotContainDumpRule.php
  laravel-infrastructure/tests/Rules/ControllersExtendBaseControllerRule.php
  laravel-infrastructure/tests/Unit/ShareLogsContextMiddlewareAbstractTest.php
Due: laravel-infrastructure

Path conditions:
  laravel-infrastructure: any of: laravel-infrastructure/
  laravel-ohdear: any of: laravel-ohdear/
  laravel-one: any of: laravel-one/
  laravel-sentry-handler: any of: laravel-sentry-handler/
  phpunit-slicer: any of: phpunit-slicer/
