Repository abenevaut/opensource: changes, and which Codecov flags are due for each by the changed paths.
All: laravel-infrastructure, laravel-ohdear, laravel-one, laravel-sentry-handler, phpunit-slicer

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 75%
      laravel-infrastructure:
        target: 0%
        flags:
          - laravel-infrastructure
      laravel-ohdear:
        target: 75%
        flags:
          - laravel-ohdear
      laravel-one:
        target: 75%
        flags:
          - laravel-one
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler
      phpunit-slicer:
        target: 100%
        flags:
          - phpunit-slicer
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler

flags:
  laravel-infrastructure:
    carryforward: true
    paths:
      - laravel-infrastructure/
  laravel-ohdear:
    carryforward: true
    paths:
      - laravel-ohdear/
  laravel-one:
    carryforward: true
    paths:
      - laravel-one/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/
  phpunit-slicer:
    carryforward: true
    paths:
      - phpunit-slicer/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/

# https://docs.codecov.com/docs/pull-request-comments
comment:
  layout: "flags, files"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: no # [yes :: must have a base report to post]
  require_head: no # [yes :: must have a head report to post]

update pipeline
  phpunit-slicer/.github/workflows/phpunit-slicer-release.yml
Due: phpunit-slicer

feat(docs,phpunit-slicer): update dependencies & docs (#260)
  .eslintrc.json
  .github/workflows/laravel-one-release.yml
  .github/workflows/laravel-one-test.yml
  .github/workflows/phpunit-slicer-release-candidate.yml
  .github/workflows/phpunit-slicer-release.yml
  .idea/opensource.iml
  .idea/php.xml
  docs/.obsidian/app.json
  docs/.obsidian/core-plugins-migration.json
  docs/.obsidian/core-plugins.json
  docs/Home.md
  docs/ThirdServices/Codecov.md
  docs/ThirdServices/Dependabot.md
  docs/docs.md
  docs/laravel-infrastructure.md
  docs/laravel-one.md
  docs/laravel-sentry-handler.md
  docs/laravel-session.md
  docs/phpunit-slicer.md
  docs/vapor-roadrunner.md
  laravel-one/.github/workflows/laravel-one-release.yml
  laravel-one/composer.json
  laravel-one/docs/Home.md
  phpunit-slicer/.github/workflows/docs-release.yml
  phpunit-slicer/.github/workflows/phpunit-slicer-release.yml
  phpunit-slicer/README.md
  phpunit-slicer/composer.json
  phpunit-slicer/composer.lock
  phpunit-slicer/docs/Contribute.md
  phpunit-slicer/docs/Home.md
Due: laravel-one, phpunit-slicer

fix(phpunit-slicer,laravel-one): update gitignore files
  .github/workflows/phpunit-slicer-release.yml
  .gitignore
  laravel-one/.gitignore
  phpunit-slicer/.gitignore
Due: laravel-one, phpunit-slicer

fix(lambda-qr): initial commit
  .idea/scopes/lambda_qr.xml
  docs/Home.md
  docs/lambda-qr.md
  lambda-qr/.gitignore
  lambda-qr/README.md
  lambda-qr/composer.json
  lambda-qr/composer.lock
  lambda-qr/docs/Contribute.md
  lambda-qr/docs/Home.md
  lambda-qr/docs/_Footer.md
  lambda-qr/index.php
  lambda-qr/serverless.yml
  lambda-qr/src/.gitkeep
Due: none

update dependabot & add phpstorm scope
  .github/dependabot.yml
  .idea/scopes/lambda_qr.xml
Due: none

fix(lambda-qr): initial commit (#262)
  .github/dependabot.yml
  .idea/scopes/lambda_qr.xml
  docs/Home.md
  docs/lambda-qr.md
  lambda-qr/.gitignore
  lambda-qr/README.md
  lambda-qr/composer.json
  lambda-qr/composer.lock
  lambda-qr/docs/Contribute.md
  lambda-qr/docs/Home.md
  lambda-qr/docs/_Footer.md
  lambda-qr/index.php
  lambda-qr/serverless.yml
  lambda-qr/src/.gitkeep
Due: none

feat(lambda-qr): add tests & release pipeline
  lambda-qr/serverless.yml
Due: none

feat(lambda-qr): add release pipeline
  .github/workflows/lambda-qr-release.yml
  .idea/phpunit.xml
Due: none

chore: add environment in release pipeline
  .github/workflows/lambda-qr-release.yml
  .github/workflows/laravel-infrastructure-release.yml
  .github/workflows/laravel-one-release.yml
  .github/workflows/laravel-sentry-handler-release.yml
  .github/workflows/laravel-session-release.yml
  .github/workflows/phpunit-slicer-release.yml
  .idea/phpunit.xml
Due: none

chore(lambda-qr): add pipeline to deploy wiki
  lambda-qr/.github/CODEOWNERS
  lambda-qr/.github/CODE_OF_CONDUCT.md
  lambda-qr/.github/CONTRIBUTING.md
  lambda-qr/.github/ISSUE_TEMPLATE.md
  lambda-qr/.github/PULL_REQUEST_TEMPLATE.md
  lambda-qr/.github/workflows/close-pr.yml
  lambda-qr/.github/workflows/docs-release.yml
  laravel-infrastructure/.github/CODE_OF_CONDUCT.md
Due: laravel-infrastructure

wip tests
  .github/workflows/lambda-qr-test.yml
  .idea/scopes/lambda_qr.xml
  lambda-qr/composer.lock
  lambda-qr/tests/run-lambda-qr.bats
Due: none

wip tests
  .github/workflows/lambda-qr-test.yml
Due: none

wip tests
  lambda-qr/tests/run-lambda-qr.bats
Due: none

wip tests
  .github/workflows/lambda-qr-test.yml
  lambda-qr/tests/run-lambda-qr.bats
Due: none

wip tests
  .github/workflows/lambda-qr-test.yml
  lambda-qr/run-lambda-qr.bats
Due: none

wip tests
  lambda-qr/run-lambda-qr.bats
Due: none

feat(lambda-qr): add tests & release pipeline (#265)
  .github/workflows/lambda-qr-test.yml
  .idea/scopes/lambda_qr.xml
  lambda-qr/composer.lock
  lambda-qr/run-lambda-qr.bats
  lambda-qr/serverless.yml
Due: none

chore(lambda-qr): update docs
  .idea/scopes/lambda_qr.xml
  lambda-qr/docs/Home.md
Due: none

chore(lambda-qr): update docs (#266)
  .idea/scopes/lambda_qr.xml
  lambda-qr/docs/Home.md
Due: none

feat(laravel-one): update README.md
  laravel-one/README.md
Due: laravel-one

chore(lambda-qr): update ignore files patterns
  .idea/phpunit.xml
  lambda-qr/serverless.yml
Due: none

wip
  .idea/opensource.iml
  .idea/php.xml
  laravel-infrastructure/docs/Contribute.md
  laravel-infrastructure/src/Http/Middleware/IdentifyClientRequestMiddleware.php
Due: laravel-infrastructure

wip
  .idea/phpunit.xml
Due: none

feat(laravel-one): add github action
  laravel-one/action.yml
Due: laravel-one

feat(laravel-one): add github action (#271)
  laravel-one/action.yml
Due: laravel-one

feat(laravel-one): add github action
  .idea/phpunit.xml
  laravel-one/action.yml
Due: laravel-one

feat(laravel-one): add docs for github action
  laravel-one/content/generate-github-pages.yml
Due: laravel-one

feat(laravel-one): add branding for github action
  laravel-one/action.yml
Due: laravel-one
