Repository abenevaut/opensource: changes, and which Codecov flags are due for each by the changed paths.
All: laravel-infrastructure, laravel-ohdear, laravel-one, laravel-sentry-handler, phpunit-slicer

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 75%
      laravel-infrastructure:
        target: 0%
        flags:
          - laravel-infrastructure
      laravel-ohdear:
        target: 75%
        flags:
          - laravel-ohdear
      laravel-one:
        target: 75%
        flags:
          - laravel-one
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler
      phpunit-slicer:
        target: 100%
        flags:
          - phpunit-slicer
      laravel-sentry-handler:
        target: 75%
        flags:
          - laravel-sentry-handler

flags:
  laravel-infrastructure:
    carryforward: true
    paths:
      - laravel-infrastructure/
  laravel-ohdear:
    carryforward: true
    paths:
      - laravel-ohdear/
  laravel-one:
    carryforward: true
    paths:
      - laravel-one/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/
  phpunit-slicer:
    carryforward: true
    paths:
      - phpunit-slicer/
  laravel-sentry-handler:
    carryforward: true
    paths:
      - laravel-sentry-handler/

# https://docs.codecov.com/docs/pull-request-comments
comment:
  layout: "flags, files"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: no # [yes :: must have a base report to post]
  require_head: no # [yes :: must have a head report to post]

wip
  .idea/opensource.iml
  .idea/phpunit.xml
Due: none

wip
  laravel-infrastructure/src/Http/Middleware/IdentifyClientRequestMiddleware.php
Due: laravel-infrastructure

wip
  .idea/opensource.iml
  .idea/php.xml
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/src/Console/Commands/ProcessPoolCommandAbstract.php
  laravel-infrastructure/src/Rules/CodeDoesNotContainDumpRule.php
  laravel-infrastructure/tests/Rules/ControllersExtendBaseControllerRule.php
  laravel-infrastructure/tests/Unit/ProcessPoolCommandAbstractTest.php
Due: laravel-infrastructure

wip
  .github/workflows/laravel-infrastructure-test.yml
  laravel-infrastructure/CHANGELOG.md
  laravel-infrastructure/docs/Contribute.md
  laravel-infrastructure/docs/Home.md
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/src/App/Listeners/QueuedListenerAbstract.php
  laravel-infrastructure/src/App/Listeners/TrackCommandTelemetryAbstract.php
  laravel-infrastructure/src/Http/Middleware/TrackRequestTelemetryMiddlewareAbstract.php
  laravel-infrastructure/tests/Rules/CommandsExtendBaseCommandRule.php
  laravel-infrastructure/tests/Rules/ListenersExtendBaseListenerRule.php
Due: laravel-infrastructure

wip
  laravel-infrastructure/tests/Rules/CommandsExtendBaseCommandRule.php
  laravel-infrastructure/tests/Rules/ControllersExtendBaseControllerRule.php
  laravel-infrastructure/tests/Rules/ListenersExtendBaseListenerRule.php
Due: laravel-infrastructure

feat(laravel-infrastructure): add client identifier (#281)
  .github/workflows/laravel-infrastructure-test.yml
  .idea/opensource.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  laravel-infrastructure/CHANGELOG.md
  laravel-infrastructure/docs/Contribute.md
  laravel-infrastructure/docs/Home.md
  laravel-infrastructure/phpstan.neon
  laravel-infrastructure/src/App/Listeners/QueuedListenerAbstract.php
  laravel-infrastructure/src/App/Listeners/TrackCommandTelemetryAbstract.php
  laravel-infrastructure/src/Console/Commands/ProcessPoolCommandAbstract.php
  laravel-infrastructure/src/Http/Middleware/IdentifyClientRequestMiddleware.php
  laravel-infrastructure/src/Http/Middleware/TrackRequestTelemetryMiddlewareAbstract.php
  laravel-infrastructure/src/Rules/CodeDoesNotContainDumpRule.php
  laravel-infrastructure/tests/Rules/CommandsExtendBaseCommandRule.php
  laravel-infrastructure/tests/Rules/ControllersExtendBaseControllerRule.php
  laravel-infrastructure/tests/Rules/ListenersExtendBaseListenerRule.php
  laravel-infrastructure/tests/Unit/ProcessPoolCommandAbstractTest.php
Due: laravel-infrastructure

wip
  lambda-qr/Dockerfile
  lambda-qr/composer.lock
  lambda-qr/docker-compose.yml
  lambda-qr/xdebug-errors.log
Due: none

wip
  .github/workflows/laravel-sentry-handler-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  laravel-sentry-handler/composer.json
  laravel-sentry-handler/docker-compose.yml
  laravel-sentry-handler/phpstan.neon
  laravel-sentry-handler/xdebug-errors.log
Due: laravel-sentry-handler

wip
  lambda-qr/.gitignore
  lambda-qr/xdebug-errors.log
Due: none

wip
  laravel-sentry-handler/.gitignore
  laravel-sentry-handler/xdebug-errors.log
Due: laravel-sentry-handler

wip
  .github/workflows/lambda-qr-test.yml
  .github/workflows/laravel-sentry-handler-test.yml
  lambda-qr/composer.json
  lambda-qr/composer.lock
  lambda-qr/index.php
  lambda-qr/phpstan.neon
Due: none

wip
  .github/workflows/lambda-qr-test.yml
  .github/workflows/laravel-sentry-handler-test.yml
Due: none

wip
  .github/workflows/laravel-sentry-handler-test.yml
Due: none

wip
  .github/workflows/laravel-session-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  laravel-session/.gitignore
  laravel-session/composer.json
  laravel-session/docker-compose.yml
  laravel-session/phpstan.neon
  laravel-session/src/App/Events/TimeSpentOnAppByUserEvent.php
Due: none

wip
  .idea/opensource.iml
  .idea/php.xml
Due: none

wip
  .github/workflows/laravel-infrastructure-test.yml
  .github/workflows/laravel-sentry-handler-test.yml
  .github/workflows/laravel-session-test.yml
  .github/workflows/phpunit-slicer-test.yml
  .idea/phpunit.xml
Due: none

wip
  .github/workflows/laravel-session-test.yml
  .github/workflows/phpunit-slicer-test.yml
Due: none

feat(lambda-qr,laravel-sentry-handler,laravel-session): add Dockerfile & update tests pipeline (#283)
  .github/workflows/lambda-qr-test.yml
  .github/workflows/laravel-infrastructure-test.yml
  .github/workflows/laravel-session-test.yml
  .github/workflows/phpunit-slicer-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  lambda-qr/.gitignore
  lambda-qr/Dockerfile
  lambda-qr/composer.json
  lambda-qr/composer.lock
  lambda-qr/docker-compose.yml
  lambda-qr/index.php
  lambda-qr/phpstan.neon
  laravel-sentry-handler/.gitignore
  laravel-sentry-handler/composer.json
  laravel-sentry-handler/docker-compose.yml
  laravel-sentry-handler/phpstan.neon
  laravel-session/.gitignore
  laravel-session/composer.json
  laravel-session/docker-compose.yml
  laravel-session/phpstan.neon
  laravel-session/src/App/Events/TimeSpentOnAppByUserEvent.php
Due: laravel-sentry-handler

feat(laravel-sentry-handler): update tests
  laravel-sentry-handler/CHANGELOG.md
Due: laravel-sentry-handler

wip
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
Due: none

composer update
  .idea/opensource.iml
  .idea/phpunit.xml
  phpunit-slicer/.gitignore
  phpunit-slicer/Dockerfile
  phpunit-slicer/composer.lock
  phpunit-slicer/docker-compose.yml
Due: phpunit-slicer

composer update
  .idea/php.xml
  laravel-one/app/Commands/GenerateCommand.php
  laravel-one/composer.lock
Due: laravel-one

focus php 8.3 & 8.4 only
  .github/workflows/laravel-one-test.yml
  .github/workflows/phpunit-slicer-test.yml
Due: none

fix code style
  .github/workflows/phpunit-slicer-test.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
  phpunit-slicer/app/Commands/SliceCommand.php
  phpunit-slicer/app/Services/PHPUnitConfigurationService.php
  phpunit-slicer/composer.json
  phpunit-slicer/composer.lock
  phpunit-slicer/phpstan.neon
Due: phpunit-slicer

fix(laravel-one,phpunit-slicer): update PHP version needed to release
  .github/workflows/laravel-one-release-candidate.yml
  .github/workflows/laravel-one-release.yml
  .github/workflows/phpunit-slicer-release-candidate.yml
  .github/workflows/phpunit-slicer-release.yml
  .idea/opensource.iml
  .idea/php.xml
  .idea/phpunit.xml
Due: none

fix(laravel-one,phpunit-slicer): update PHP version needed to release
  .github/workflows/laravel-one-release-candidate.yml
  .github/workflows/laravel-one-release.yml
  .github/workflows/phpunit-slicer-release-candidate.yml
Due: none

fix(echo-tracker,laravel-api-infrastructure,laravel-client-infrastructure): initial commit
  .github/workflows/laravel-api-infrastructure-test.yml
  laravel-api-infrastructure/composer.json
  laravel-api-infrastructure/docs/Home.md
  laravel-api-infrastructure/docs/_Footer.md
  laravel-api-infrastructure/phpstan.neon
  laravel-api-infrastructure/tests/Rules/CommandsExtendBaseCommandRule.php
  laravel-api-infrastructure/tests/Rules/ControllersExtendBaseControllerRule.php
  laravel-api-infrastructure/tests/Rules/ListenersExtendBaseListenerRule.php
  laravel-api-infrastructure/tests/Unit/ProcessPoolCommandAbstractTest.php
Due: none

fix(echo-tracker,laravel-api-infrastructure,laravel-client-infrastructure): initial commit
  .github/workflows/laravel-api-infrastructure-test.yml
  .github/workflows/laravel-client-infrastructure-test.yml
Due: none

wip bluesky client
  echo-tracker/app/Commands/CountBlueSkyFollowers.php
  laravel-bluesky-client/README.md
  laravel-bluesky-client/src/Client/AccessToken.php
  laravel-bluesky-client/src/Client/BlueSkyAnonymousClient.php
  laravel-bluesky-client/src/Client/BlueSkyClient.php
  laravel-bluesky-client/src/Facades/BlueSky.php
  laravel-bluesky-client/src/Providers/BlueSkyServiceProvider.php
  laravel-bluesky-client/src/Services/BlueSkyService.php
  laravel-client-infrastructure/src/Client/AuthenticatedClientAbstract.php
  laravel-client-infrastructure/src/Client/ClientAbstract.php
Due: none

wip bluesky client
  laravel-bluesky-client/README.md
  laravel-bluesky-client/src/Services/BlueSkyService.php
Due: none

wip clients pipelines
  .github/workflows/laravel-bluesky-client-test.yml
  .github/workflows/laravel-discord-client-test.yml
  .github/workflows/laravel-instagram-client-test.yml
  .github/workflows/laravel-linkedin-client-test.yml
  .github/workflows/laravel-twitch-client-test.yml
  .github/workflows/laravel-x-client-test.yml
Due: none

rollback CountBlueSkyFollowers to be able to merge to publish laravel-*-infrastructure
  .idea/phpunit.xml
  echo-tracker/app/Commands/CountBlueSkyFollowers.php
Due: none

add releases pipelines
  .github/workflows/echo-tracker-release-candidate.yml
  .github/workflows/echo-tracker-release.yml
  .github/workflows/echo-tracker-test.yml
  .github/workflows/laravel-api-infrastructure-release.yml
  .github/workflows/laravel-client-infrastructure-release.yml
  echo-tracker/tests/Feature/InspireCommandTest.php
Due: none

update tests pipelines
  echo-tracker/composer.json
  echo-tracker/composer.lock
  laravel-api-infrastructure/composer.json
  laravel-bluesky-client/composer.json
  laravel-client-infrastructure/composer.json
  laravel-discord-client/composer.json
  laravel-instagram-client/composer.json
  laravel-linkedin-client/composer.json
  laravel-twitch-client/composer.json
  laravel-x-client/composer.json
Due: none

update tests pipelines
  .github/laravel-bluesky-client-test.yml
  .github/laravel-discord-client-test.yml
  .github/laravel-instagram-client-test.yml
  .github/laravel-linkedin-client-test.yml
  .github/laravel-twitch-client-test.yml
  .github/laravel-x-client-test.yml
Due: none

update tests
  echo-tracker/app/Commands/CountBlueSkyFollowers.php
  echo-tracker/app/Commands/CountDiscordFollowers.php
  echo-tracker/app/Commands/CountInstagramFollowers.php
  echo-tracker/app/Commands/CountTwitchFollowers.php
  echo-tracker/app/Commands/CountTwitterFollowers.php
  echo-tracker/phpstan.neon
Due: none
